# Virtual environments
.venv/
venv/
env/
.env/

# Environment & secrets
.env

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

.keras/
.tensorflow/
.cache/
*.h5
*.keras
*.pb
*.onnx
*.ckpt
*.index
*.data-*

*.pem
.vscode/
