/.env
/media

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

media/
staticfiles/
db.sqlite3
.log

.keras/
.tensorflow/
.cache/
*.h5
*.keras
*.pb
*.onnx
*.ckpt
*.index
*.data-*

*.log
db.sqlite3
media/
.env

.vscode/

node_modules/

.DS_Store
Thumbs.db


node_modules/
dist/
build/
.vite/

